a {
    margin-bottom: 10px;
    color: navy;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin-bottom: 20px;
}

h2, h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}